<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-9" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <title>Child App</title>


        <link rel="stylesheet" type="text/css" href="styles/skin.css">
        <link rel="stylesheet" type="text/css" href="styles/framework.css">
        <link rel="stylesheet" type="text/css" href="styles/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="styles/pignose.calendar.css" />
        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="styles/bootstrap-datepicker.css" />  
        <link href='styles/bootstrap-datepaginator.css' rel='stylesheet'/>
        <link rel="stylesheet" href="styles/calendar.css">
		<!-- css added by hema -->
		<link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="styles/style.css">
                
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/plugins.js"></script>
        <script type="text/javascript" src="js/custom.js"></script>
        <script type="text/javascript" src="js/swiper.min.js"></script>

	<script src="cordova.js"></script>
    
	 <style>
	.allow-tap {
        height: 100% !important;
        position: fixed!important; 
        z-index: 1050!important; 
        width: 100%!important;
        left: 0!important;
        margin-left:0 !important;
        top: 0!important;
        background-color: rgb(0,0,0)!important;
        background-color: rgba(53, 52, 52, 0.79)!important;
        overflow-x: hidden!important; 
        transition: 0.5s!important; 
        opacity: 1 !important;
        }
/*done by hema*/
/*.noScroll {
    overflow: hidden;
    position:fixed;
}*/
		
	 </style>
    </head>

    <body>

        <!-- Show Loader -->

        <div ng-hide="loaderShow" class="screen_loader" id="preloader">
            <div class="spinner">
                <div id="pre_status">&nbsp;</div>
            </div>
        </div>
        <!-- Show Loader Ends -->
		<div class="overlay2"></div>

        <div id="page-transitions">
            <div class="sidebars sidebars-light">
                <div class="sidebar sidebar-left overlay-content hidden ">
                    <div class="sidebar-header sidebar-header-image dark-overlay">
                       <!--  <div class="overlay dark-overlay"></div> -->
                        <div class="sidebar-socials">
                            <!--<a class="close-sidebar" href="#"><i class="ion-android-close"></i></a>-->
                            <div class="clear"></div>
                            <div class="outter"><img src="images/prf.png" class="image-circle"></div>
                        </div>
                        <a href="#!/" class="sidebar-logo">
                            <strong>{{customer_name}}</strong>
                        </a>
                    </div>  
                    <!-- 
                                        <div class="menu-options icon-background no-submenu-numbers sidebar-menu">
                                            <em class="menu-divider">Navigation</em>
                                            <a class="active-item" href="#!/home"><i class="icon-bg bg-night-dark ion-home"></i><span>Dashboard</span></a>
                    
                                            <a  href="#!/calenderView"><i class="icon-bg bg-red-dark ion-calendar"></i><span>Calendar</span></a>
                                            <a  href="#!/subscription"><i class="icon-bg bg-green-dark ion-gear-a"></i><span>Subscription</span></a>
                                            <a  href="#!/myorders"><i class="icon-bg bg-blue-dark ion-ios-analytics"></i><span>My Orders</span></a>
                                            <a href="#!/products"><i class="icon-bg bg-magenta-dark ion-image"></i><span>Our Products</span></a>
                    <!--<a  href="#!/howitworks"><i class="icon-bg bg-orange-dark ion-ios-list-outline"></i><span>How it Works</span></a>-->
                    <!--  <a  href="#!/billings"><i class="icon-bg bg-night-dark ion-heart"></i><span>Billings</span></a>
                     <a href="#!/holdsubscription"><i class="icon-bg bg-green-dark ion-ios-paper-outline"></i><span>Hold Subscription</span></a>
                     <a href="#!/termsofuse"><i class="icon-bg bg-orange-light ion-edit"></i><span>Terms of Use</span></a>
                     <a href="#!/customercare"><i class="icon-bg bg-green-dark ion-ios-chatboxes-outline"></i><span>Customer care</span></a> -->
                    <!--                        <a href="#!/login"><i class="icon-bg bg-green-dark ion-gear-a"></i><span>Login</span></a>
                                            <a href="#!/registration"><i class="icon-bg bg-green-dark ion-gear-a"></i><span>Register</span></a>-->
                    <!--  <a href="#!/logout" class="close-sidebar"><i class="icon-bg bg-red-light ion-android-close"></i><span>Logout</span></a>
                     <em class="menu-divider">Copyright <u class="copyright-year"></u>. All rights reserved. V1.0</em>
                 </div> -->


                    <!--work done by hema-->
                    <div class="menu-options icon-background no-submenu-numbers sidebar-menu menu-background">
                       
                         <a class="active-item menu_bar_link" href="#!/home">
                            <div class="row home">
                                <div class="col-sm-3 col-xs-3 nav-image"><i class="ion-home iconsame"></i><img data-original="images/Dashboard.png" alt="img" class="preload-image hidden" src="images/Dashboard.png"></div>
                                <div class="col-sm-9 col-xs-9"><span>Home</span></div>
                            </div>
                        </a>
                        <!--
                        <a  href="#!/" class="menu_bar_link">
                            <div class="row child-growth">
                                <div class="col-sm-3 col-xs-3 nav-image"><i class="ion-pin iconsame"></i><img data-original="images/Indian_Rupee.png" alt="img" class="preload-image hidden" src="images/Indian_Rupee.png"></div>
                                <div class="col-sm-9 col-xs-9 child_grow"><span>Child Growth & Vaccine chart</span></div>
                            </div>
                        </a>   
                        <a  href="#!/" class="menu_bar_link">
                       images/.png    <div class="row article">
                                <div class="col-sm-3 col-xs-3 nav-image"><i class="ion-ios-list-outline iconsame"></i><img data-original="images/Indian_Rupee.png" alt="img" class="preload-image hidden" src="images/Indian_Rupee.png"></div>
                                <div class="col-sm-9 col-xs-9"><span>Article & Blogs</span></div>
                            </div>
                        </a>
                        <a  href="#!/" class="menu_bar_link">
                            <div class="row event-menu">
                                <div class="col-sm-3 col-xs-3 nav-image"><i class="ion-ios-calendar-outline iconsame"></i><img data-original="images/My_Orders.png" alt="img" class="preload-image hidden" src="images/My_Orders.png"></div>
                                <div class="col-sm-9 col-xs-9"><span>Events</span></div>
                            </div>
                        </a>
                        <a  href="#!/" class="menu_bar_link">
                            <div class="row directory">
                                <div class="col-sm-3 col-xs-3 nav-image"><i class="ion-ios-people-outline iconsame"></i><img data-original="images/Billings.png" alt="img" class="preload-image hidden" src="images/Billings.png"></div>
                                <div class="col-sm-9 col-xs-9"><span>Directory of Services</span></div>
                            </div>
                        </a>
                        <a href="#!/" class="menu_bar_link">
                            <div class="row counselling">
                                <div class="col-sm-3 col-xs-3 nav-image"><i class="ion-ios-chatboxes-outline iconsame"></i><img data-original="images/Products.png" alt="img" class="preload-image hidden" src="images/our_Product.png"></div>
                                <div class="col-sm-9 col-xs-9"><span>Counselling</span></div>
                            </div>
                        </a>
                        <a href="#!/subscription" class="menu_bar_link">
                            <div class="row subscription">
                                <div class="col-sm-3 col-xs-3 nav-image"><i class="ion-ios-gear-outline iconsame"></i><img data-original="images/Hold_Subscription.png" alt="img" class="preload-image hidden" src="images/Hold_Subscription.png"></div>
                                <div class="col-sm-9 col-xs-9"><span> Subscription</span></div>
                            </div>
                        </a>  
                        <a  href="#!/" class="menu_bar_link ">
                            <div class="row memorybox">
                                <div class="col-sm-3 col-xs-3 nav-image"><i class="ion-cube iconsame"></i><img data-original="images/Calendar.png" alt="img" class="preload-image hidden" src="images/calendar.png"></div>
                                <div class="col-sm-9 col-xs-9"><span>Memory Box</span></div>
                            </div>
                        </a>
                        <a href="#!/" class="menu_bar_link ">
                            <div class="row games-menu">
                                <div class="col-sm-3 col-xs-3 nav-image"><i class="ion-ios-game-controller-b-outline iconsame"></i><img data-original="images/Customer_care.png" alt="img" class="preload-image hidden" src="images/Customer_care.png"></div>
                                <div class="col-sm-9 col-xs-9"><span>Games</span></div>
                            </div>
                        </a>
                        <a href="#!/" class="close-sidebar menu_bar_link " >
                            <div class="row chat">
                                <div class="col-sm-3 col-xs-3 nav-image"><i class="ion-android-hangout iconsame"></i><img data-original="images/Logout.png" alt="img" class="preload-image hidden" src="images/Logout.png"></div>
                                <div class="col-sm-9 col-xs-9"><span>Chat</span></div>
                            </div>
                        </a>
                        <a href="#!/about_us" class="menu_bar_link">
                            <div class="row aboutus">
                                <div class="col-sm-3 col-xs-3 nav-image"><i class="ion-ios-location iconsame"></i><img data-original="images/Terms_of_Use.png" alt="img" class="preload-image hidden" src="images/Terms_of_Use.png"></div>
                                <div class="col-sm-9 col-xs-9"><span>About Us</span></div>
                            </div>
                        </a>-->

                        <em class="menu-divider hidden">&#9400; <u class="copyright-year"></u>.<u style="text-align: right;float: right;padding-right: 10px;"> All rights reserved. V {{ APP_Version }}</u></em>
                    </div>
                </div>

            </div>

            <div class="header header-logo-center header-light" id="wrap">
                <a href="#" class="header-icon header-icon-1" style="margin-left: 20px;font-size:30px;"><i class="ion-arrow-left-c" style="font-size:30px;"></i> </a>
                <a  href="#" class="header-icon header-icon-1 hamburger-animated open-sidebar-left hidden"></a>
                <a href="#!/home" class="header-logo page-heading-bold">{{page_heading}}</a>
            <!-- <a href="#!/" class="header-icon header-icon-3 wallet"><img src="images/wallet_icn.png"></img> <span class="item-amount ">888</span></a>-->
            <a href="#!/" class="header-icon header-icon-3 wallet"><img src="images/logout_icn.png" class="header-logout-img"></img></a>
             <a  href="#!/" class="header-icon header-icon-3 "><i class="ion-ios-gear-outline"></i> </a>
                 <!--<a href="#!/addcart" class="header-icon header-icon-3 "><i class="class="ion-ios-gear-outline""></i> <span class="item-number ">{{cart_count}}</span></a>-->
            </div>
            
            <!--autoscroll="true"-->
            <!-- UI View (View Container) -->
            <div id="page-content" class="page-content" style="background: rgba(65, 5, 160, 0) !important;">
                <div class="header-clear"><!--Enables this element to be scrolled -->
                    <section id="uiview" ui-view ></section>
                    <div class="clear"></div>
                </div>
            </div>

            <a href="#" class="back-to-top-badge"><i class="ion-ios-arrow-up"></i></a>

            <!--  Footer -->
            <div class="footer footer-light hidden">
                <a href="#!/home" class="footer-logo"></a>
                <!--<p class="copyright-text">&copy; Copyright <span class="copyright-year"></span>. All rights reserved</p>-->
            </div>

        </div>



        <!-- build:js scripts/vendor.js -->
        <!-- injector:bowerjs -->

        <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular-resource/angular-resource.js"></script>
        <script src="lib/angular-mocks/angular-mocks.js"></script>
        <script src="lib/angular-cookies/angular-cookies.js"></script>
        <script src="lib/angular-animate/angular-animate.js"></script>
        <script src="lib/angular-touch/angular-touch.js"></script>
        <script src="lib/angular-sanitize/angular-sanitize.js"></script>
        <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="lib/angular-ui-utils/ui-utils.js"></script>
        <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="lib/snapjs/snap.min.js"></script>
        <script src="lib/angular-snap/angular-snap.min.js" type="text/javascript"></script>
        <script src="js/moment.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
         <script src="js/calendar.js"></script>    
        <script src="js/bootstrap-datepaginator.js"></script>
        <script src="js/swiper.min.js"></script>
       
        <!-- endbuild -->

        <!-- build:js scripts/custom.js -->
        <!-- injector:js -->
        <script src="js/config.js"></script>
        <script src="js/application.js"></script>
        <script src="js/classie.js"></script>
        <script src="js/developerService.js"></script>
        <!-- Bootbox aleret js -->
        <script src="js/bootbox.min.js"></script>


        <!-- Core Module  -->
        <script src="modules/core/core.js"></script>        
        <script src="modules/core/config/routes.js"></script>
        <script src="modules/core/controllers/login.js"></script>
        <script src="modules/core/controllers/registration.js"></script>
        <script src="modules/core/services/restAPIService.js"></script>
        <script src="modules/core/controllers/home.js"></script>   
        <script src="modules/core/controllers/otp.js"></script>
        <script src="modules/core/controllers/enterOtp.js"></script>
        <script src="modules/core/controllers/referralCode.js"></script>
        <script src="modules/core/controllers/userinfo.js"></script>
        <script src="modules/core/controllers/about_us.js"></script>
        <script src="modules/core/controllers/howitworks.js"></script>
        <script src="modules/core/controllers/customercare.js"></script>
        <script src="modules/core/controllers/articles_blogs.js"></script>
        <script src="modules/core/controllers/domain.js"></script>
        <script src="modules/core/controllers/child_acitivity_progress.js"></script>
        <script src="modules/core/controllers/events.js"></script>
        <script src="modules/core/controllers/grow_chart.js"></script>
        <script src="modules/core/controllers/games.js"></script>
        <script src="modules/core/controllers/leaderboard.js"></script>
        <script src="modules/core/controllers/memory_box.js"></script>
        <script src="modules/core/controllers/subscription.js"></script>
        <script src="modules/core/controllers/profile_edit.js"></script>
        <script src="modules/core/controllers/counselling.js"></script>
        <script src="modules/core/controllers/welcome.js"></script>
        <script src="modules/core/controllers/vaccine_chart.js"></script>
        <script src="modules/core/controllers/child_acitivity_progress_chart.js"></script>
        <script src="modules/core/controllers/congratulation.js"></script>
        <script src="modules/core/controllers/child_domain_plain.js"></script>
        <script src="modules/core/controllers/child_domain.js"></script>
        <script src="modules/core/controllers/child_subdomain.js"></script>
        <script src="modules/core/controllers/child_activity.js"></script>
        <script src="modules/core/controllers/arrange_board.js"></script>
        <script src="modules/core/controllers/rewards.js"></script>
        <script src="modules/core/controllers/fill_child_details.js"></script>
         <script src="modules/core/controllers/demo_video.js"></script>
         <script src="modules/core/controllers/rhymes_stories.js"></script>
         <script src="modules/core/controllers/child_profile.js"></script>
         <script src="modules/core/controllers/main_dashboard.js"></script>
        <script src="modules/core/controllers/child_list.js"></script>
        <script src="modules/core/controllers/child_list2.js"></script>





        <!-- Product Module --> 
        <script src="modules/products/products.js"></script>
        <script src="modules/products/services/restAPIService.js"></script>
        <script src="modules/products/config/routes.js"></script>
        <script src="modules/products/controllers/products.js"></script>

        <!-- Billing Module -->
        <script src="modules/billing/billing.js"></script>
        <script src="modules/billing/services/billingAPIService.js"></script>
        <script src="modules/billing/config/routes.js"></script>
        <script src="modules/billing/controllers/billings.js"></script>

        <!-- Cart Module -->
        <script src="modules/cart/cart.js"></script>
        <script src="modules/cart/services/restAPIService.js"></script>
        <script src="modules/cart/config/routes.js"></script>
        <script src="modules/cart/controllers/addcart.js"></script>
        <script src="modules/cart/controllers/make_payment.js"></script>

        <!-- Subscription Module -->
        <script src="modules/subscription/subscription.js"></script>
        <script src="modules/subscription/services/restAPIService.js"></script>
        <script src="modules/subscription/config/routes.js"></script>
        <script src="modules/subscription/controllers/subscription.js"></script>
        <script src="modules/subscription/controllers/holdsubscription.js"></script>
        <script src="modules/subscription/controllers/calendar_view.js"></script>
        <script src="modules/subscription/controllers/my_subscription_detail.js"></script>
        <script src="modules/subscription/controllers/unsubscription_detail.js"></script>

        
        <!-- Orders Module -->
        <script src="modules/orders/orders.js"></script>
        <script src="modules/orders/services/restAPIService.js"></script>
        <script src="modules/orders/config/routes.js"></script>

        <script src="modules/orders/controllers/myorders.js"></script>

<!-- Bootbox aleret function -->

       
<script>
        
        /*
		$(".sidebars-light a").click(function(e) {
            bootbox.alert("Hello world!", function() {
                console.log("Alert Callback");
            });
        });*/
    </script> 
	<!-- Bootbox aleret function end -->
        <script>
                        $('#page-content').bind('DOMSubtreeModified',function(event) {
                            $('#sidebar-tap-close').removeClass();
                            $('.sidebar').removeClass('sidebar-left-active sidebar-right-active');
                            $('.header').removeClass('sidebar-large-left-body-active sidebar-large-right-body-active body-right-effect sidebar-small-right-body-active body-left-effect sidebar-small-left-body-active');
                            $('#page-content').removeClass();
                            $('.open-sidebar-left, .open-sidebar-right').find('em').removeClass('hm1a hm2a hm3a dm1a dm2a');	
                            $('#sidebar-tap-close').removeClass('allow-tap');
                            $('#page-content').removeClass('noScroll');
                        });
                        $(document).ready(function() {
                            $(".sidebars-light a").click(function() {
                                $(".sidebar").removeClass("sidebar-left-active");
                                $("#page-content").removeClass("body-left-effect");
                                $(".header").removeClass("body-left-effect");
                                $(".header-icon em").removeClass("hm1a hm2a hm3a");
                            });
                            });                            
                    

        </script>

        <script type="text/javascript">
            $(window).ready(function(event) {
                var options = {
                    selectedDate: '2013-01-01',
                    onSelectedDateChanged: function(event, date) {
                        var d = new Date(date);
                        $('.loader').show();
                        $.get('date-paginator.php?date=' + d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate(), function(data) {
                            $('.response').html(data);
                            $('.loader').hide();
                        });
                    }
                }
                $('#paginator').datepaginator(options);
               
            });

        </script>
        <!-- endbuild -->
        <!--    <div id="preloader" ng-hide="!loading">
                <div id="pre_status" >&nbsp;</div>
            </div>-->

    </body>
</html>
