<div class="content">
	 <div class="row box-arrangeboard box-shadow"> 
	 	<div class="col-sm-12 col-xs-12 ">
	 		<a class="" href="#!/rewards">
	    		<img data-original="" alt="img" class="preload-image arrangeboard-img" src="images/dashboardicon/activity_1.png">
	    	</a>
	 	 </div>             
  	  </div>
  </div>  