
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<div class="content">

  <div class="row box-article-blogs">
    <div class="row">
    	<div class="col-sm-12 col-xs-12 position-articles">
    		<a class="" href="#!/">
		        <img data-original="" alt="img" class="preload-image" src="images/dashboardicon/articles_icon.png"><label>Articles</label>
		      </a>
   		 </div>
    </div>
    
  </div>   
   <div class="row box-article-blogs">
    <div class="row">
    	<div class="col-sm-12 col-xs-12 position-articles">
    		<a class="" href="#!/">
		        <img data-original="" alt="img" class="preload-image" src="images/dashboardicon/blog_icon.png"><label>Blogs</label>
		      </a>
   		 </div>
    </div>
    
  </div>  
</div>


