<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<div class="content">

  <div class="row box-child-activity box-shadow">
    <div class="row activity-page activone">
    	<div class="col-sm-6 col-xs-6">
    		<a class="" href="#!/arrange_board">
		       <img src="images/dashboardicon/activity_1.png" class="activity-img"><label class="activity-label">Activity 01</label>
		      </a>
   		 </div>
       <div class="col-sm-6 col-xs-6">
        <a class="" href="#!/demo_video">
           <img src="images/dashboardicon/video_icon_2.png" class="activity-img"><label class="video-label">Demo Video</label>
          </a>
       </div>
    </div>
    <div class="row activity-page activtwo">
      <div class="col-sm-6 col-xs-6">
        <a class="" href="#!/arrange_board">
           <img src="images/dashboardicon/activity_2.png" class="activity-img"><label class="activity-label">Activity 02</label>
          </a>
       </div>
       <div class="col-sm-6 col-xs-6">
        <a class="" href="#!/demo_video">
           <img src="images/dashboardicon/video_icon_2.png" class="activity-img"><label class="video-label">Demo Video</label>
          </a>
       </div>
    </div>
    <div class="row activity-page activthree">
      <div class="col-sm-6 col-xs-6">
        <a class="" href="#!/arrange_board">
           <img src="images/dashboardicon/activity_3.png" class="activity-img"><label class="activity-label">Activity 03</label>
          </a>
       </div>
       <div class="col-sm-6 col-xs-6">
        <a class="" href="#!/demo_video">
           <img src="images/dashboardicon/video_icon_2.png" class="activity-img"><label class="video-label">Demo Video</label>
          </a>
       </div>
    </div>
    <div class="row activity-page activfour">
      <div class="col-sm-6 col-xs-6">
        <a class="" href="#!/arrange_board">
           <img src="images/dashboardicon/activity_4.png" class="activity-img"><label class="activity-label">Activity 04</label>
          </a>
       </div>
       <div class="col-sm-6 col-xs-6">
        <a class="" href="#!/demo_video">
           <img src="images/dashboardicon/video_icon_2.png" class="activity-img"><label class="video-label">Demo Video</label>
          </a>
       </div>
    </div>
    
  </div>   
     
</div>