
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<div class="content">

  <div class="row box-main box-shadow child-proff">
    
     <div class="col-sm-12 col-xs-12">
    	 <img src="images/prf.png" class="dashboard-image-circle child-profilepic">
    </div>
      <div class="col-sm-12 col-xs-12 child_pro">
      <div class="col-xs-3 col-sm-3 child_fields">
        <div class="form-group"> 
            <label for="name" class="childcor">Name</label>
        </div>
        <div class="form-group">
          <label for="age" class="childcor">Age</label>
        </div>
          <div class="form-group">
          <label class="childcor">Gender</label>
            </div>
      </div>
       <div class="col-xs-9 col-sm-9">
           <div class="form-group">
               <input type="text" class="form-control hidden" id="name" placeholder="Enter name" name="name">
               <label for="name" class="proff-lbl">Ram</label>
           </div>
           <div class="form-group">
            <input type="number" class="form-control hidden" id="age" placeholder="Enter age" name="age">
               <label for="name" class="proff-lbl">3-Year</label>
            </div>
           <div class="form-group">
             <label class="col-xs-5 col-sm-5 proff-lbl">Boy<input type="radio" name="gen" id="boy_id" class="genchild hidden"> </label>
             <label class="col-xs-5 col-sm-5 hidden">Girl<input type="radio" name="gen" id="girl_id" class="genchild hidden"> 
             </label>
            </div>
      </div>
    </div>
  </div>   
</div>


