
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<div class="content">
<div class="row box-child_domain box-shadow">
    
     <div class="col-sm-12 col-xs-12 main-box">
       <ul class="childsubdomain hidden">
            <li class="child_domain"><a href="#!/child_activity">Gross Motor Skills </a></li>
            <li class="child_domain"><a href="#!/child_subdomain">Fine Motor Skills </a></li>
            <li class="child_domain"><a href="#!/child_subdomain">Eye Hand Coordination </a></li>
            <li class="child_domain"><a href="#!/child_subdomain">Body Awareness & Spatial Orientation</a></li>
            
         </ul>
         <a href="#!/child_activity" class="firstbox">
            <div class="first_link">
              Gross Motor Skills
              <i class="ion-chevron-right pull-right"></i>
           </div>
         </a>
         <a href="#!/child_activity">
            <div class="second_link">
              Fine Motor Skills
               <i class="ion-chevron-right pull-right"></i>
           </div>
         </a>
         <a href="#!/child_activity">
            <div class="third_link">
              Eye Hand Coordination
               <i class="ion-chevron-right pull-right"></i>
           </div>
         </a>
         <a href="#!/child_activity">
            <div class="fourth_link awar">
              Body Awareness & Spatial Orientation
               <i class="ion-chevron-right pull-right"></i>
           </div>
         </a>
    </div>
      
  </div>   
</div>
  



