
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<div class="content">

  <div class="row box-main">
    
     <div class="col-sm-12 col-xs-12">
    	 <ul class="childsubdomain">
            <li class="child_domain"><a href="">Physical & Motor Development</a></li>
            <li class="child_domain"><a href="">Physical & Motor Development</a></li>
            <li class="child_domain"><a href="">Physical & Motor Development</a></li>
            <li class="child_domain"><a href="">Physical & Motor Development</a></li>
            <li class="child_domain"><a href="">Physical & Motor Development</a></li>
            <li class="child_domain"><a href="">Physical & Motor Development</a></li>
            <li class="child_domain"><a href="">Physical & Motor Development</a></li>
         </ul>
    </div>
      
  </div>   
</div>


