
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<div class="content">

  <div class="row box-child_domain box-shadow">
    
     <div class="col-sm-12 col-xs-12 main-box">
    	 <ul class="childsubdomain hidden">
            <li class="child_domain"><a href="#!/child_subdomain">Physical & Motor </a></li>
            <li class="child_domain"><a href="#!/child_subdomain">Sensorial </a></li>
            <li class="child_domain"><a href="#!/child_subdomain">Cognitive </a></li>
            <li class="child_domain"><a href="#!/child_subdomain">Language </a></li>
            <li class="child_domain"><a href="#!/child_subdomain">Social & Emotional </a></li>
            <li class="child_domain"><a href="#!/child_subdomain">Environmental Awareness</a></li>
            <li class="child_domain"><a href="#!/child_subdomain">Art & Craft</a></li>
            <li class="child_domain"><a href="#!/child_subdomain">Rhymes,Stories & Mazes</a></li>
         </ul>
         <a href="#!/child_subdomain" class="firstbox">
            <div class="first_link">
              Physical & Motor 
              <i class="ion-chevron-right pull-right"></i>
           </div>
         </a>
         <a href="#!/child_subdomain">
            <div class="second_link">
              Sensorial
               <i class="ion-chevron-right pull-right"></i>
           </div>
         </a>
         <a href="#!/child_subdomain">
            <div class="third_link">
              Cognitive
               <i class="ion-chevron-right pull-right"></i>
           </div>
         </a>
         <a href="#!/child_subdomain">
            <div class="fourth_link">
              Language 
               <i class="ion-chevron-right pull-right"></i>
           </div>
         </a>
         <a href="#!/child_subdomain">
            <div class="fifth_link">
              Social & Emotional 
               <i class="ion-chevron-right pull-right"></i>
           </div>
         </a>
         <a href="#!/child_subdomain">
            <div class="six_link">
              Environmental Awareness
               <i class="ion-chevron-right pull-right"></i> 
           </div>
         </a>
         <a href="#!/child_subdomain">
            <div class="seven_link">
              Art & Craft 
               <i class="ion-chevron-right pull-right"></i>
           </div>
         </a>
         <a href="#!/child_subdomain">
            <div class="eight_link">
              Rhymes,Stories & Mazes
               <i class="ion-chevron-right pull-right"></i>
           </div>
         </a>
    </div>
      
  </div>   
</div>


