<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<div class="content">

  <div class="row box-child-activity box-shadow">
    <div class="row">
    	<div class="col-sm-12 col-xs-12 position-articles">
    		<a class="" href="#!/child_profile">
		       <img src="images/prf.png" class="child-activity-image-circle"><label class="child-activity-label">Ram</label>
		      </a>
   		 </div>
    </div>
    <div class="row">
    	<div class="col-sm-12 col-xs-12 position-articles">
    		<a class="" href="#!/child_profile">
		        <img data-original="" alt="img" class="preload-image child-activity-image-circle" src="images/prf.png"><label class="child-activity-label">PQR</label>
		      </a>
   		 </div>
    </div>
    
    
  </div>   
     
</div>