
<div class="content-fullscreen tabs-nav">
    <div class="home-tabs animate-fade">
        <!--<a class="activate-tab-1 active-home-tab" href="#">Terms of Service</a>
        <a class="activate-tab-2" href="#">Privacy Policy</a>-->

        <div class="clear"></div>
    </div>
</div>


<div class="content" id="tab-1">
    <!--<div class="thumb-layout box" style="box-shadow: 1px 0px 1px 0px rgba(128, 128, 128, 0.58), 0px 1px 15px 0px rgba(128, 128, 128, 0.58)!important;">-->
<div class="aboutus-box box-shadow">
<!--<h5 style="text-align:center">Terms of Service</h5>
<div class="decoration decoration-margins"></div>-->
        <img data-original="" alt="img" class="preload-image about-empower-img" src="images/newlogo.png">
        <label>About us</label>
          <ul class="termsofuse-ul hidden">
                <P style="color:#000;">If you continue to browse and use this mobile app, you are agreeing to comply with the following terms of use, which together with our Privacy Policy Products Private Limited hereinafter referred to as the Company relationship with you in relation to this Web Site/ Mobile app.</P>
                <li>
                    <h1 class="heading-terms">ORDER FORM US</h1>
                    <ul style="list-style-type:circle;">
                        
                        <li>Once you have completed the registration form, the order will be deemed to have been placed. We will send you confirmation of receipt of the registration form detailing the information on the registration form. This will be done immediately by our Customer Service department, whichever method you specify.</li>
                       <li>Once you have completed the registration form, the order will be deemed to have been placed. We will send you confirmation of receipt of the registration form detailing the information on the registration form.</li>
                    </ul>
                </li>    
              </ul>      
    </div>
    <div class="col-sm-12 col-xs-12">
          <a href="#!/login" type="submit" class="button button-purpul btn-xs about-continue-btn" >CONTINUE</a> 
     </div>
    <!--<div class="decoration"></div>-->
</div>

