
<div class="content">

  <div class="row box-child-activity box-shadow">
    <div class="row">
    	<div class="col-sm-12 col-xs-12">
        <h1 class="congo-label">Congratulations!</h1>
        <h4 class="hooray-lbl">HOORAY!!It is almost done!</h4>
        <h6 class="design-lpl">Details & Link Of The Parent App</h6>
    	
   		 </div>
    </div>
    <div class="row top-space">
    	<div class="col-sm-12 col-xs-12">
        <a href="#!/" class="link2" >
    		<label class="link-app">Parent App:</label>http://invis.io/3DDBKWFT5</a>		     
   		 </div>
    </div>
     <div class="col-sm-12 col-xs-12">
          <a href="#!/fill_child_details" type="submit" class="button btn-xs subscribe-btn green-continue-btn continue-btn">Continue</a> 
                
        </div>
    
    
  </div>   
     
</div>