<div class="content">
  <div class="box-newsletter">
    <div class="row">
      <div class="line-newletter">
      <label class="account-purple-lbl">Select Appointment Date:</label>
    </div>
    <div class="profile-info">
         <img data-original="" alt="img" class="preload-image img-calender" src="images/dashboardicon/calender_icon.png">  
       <input class="date-input" type="date" placeholder="17/05/2017" name="date" required   oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
     </div>
    
    </div>
     <div class="col-sm-12 col-xs-12">
          <button type="submit" class="button button-purpul btn-xs subscribe-btn" >SUBMIT</button>       
        </div>
  </div>     
</div>

