<style>
.heading-strip .dark-overlay {
        background-color: #0067a1;
}
.contact p a{color:#fff;}
.heading-strip {margin: 0 20px;}
.heading-strip1 {margin: 20px 20px;}
.address p{color: #fff !important;}
.heading-strip p a{color: #fff !important;}
</style>
<!--<h5 style="text-align:center">Customer Care</h5>
<div class="decoration decoration-margins"></div>    -->

  		
<!-- <div class="decoration decoration-margins"></div> -->
				<div class="address heading-strip heading-strip1 bg-1 contact">
					<h4>Address</h4>
					<p><a style="color: #fff !important;">SNA Milk And Milk Product Pvt. Ltd.</a></p>
					<i class=""></i>
					<div class="overlay dark-overlay"></div>
					<p><a style="color: #fff !important;">Desi Farms, Office F-25,1st Floor,</a></p>
					<i class=""></i>
					<div class="overlay dark-overlay"></div>
					<p><a style="color: #fff !important;">East Court Mall, Phoenix,</a></p>
					<i class=""></i>
					<div class="overlay dark-overlay"></div>
					<p><a style="color: #fff !important;">Viman nagar, Pune - 411014.</a></p>
					<i class=""></i>
					<div class="overlay dark-overlay"></div>
				</div>
				<a href="tel:9260605353">
				<div class="heading-strip bg-1 contact"><a href="tel:9260605353"><i class="ion-ios-telephone-outline"></i>
					<h4>Call Us</h4>
					<p><a href="tel:9260605353">+91 9260605353</a></p></a>					
					<div class="overlay dark-overlay"></div>
				</div>
				</a>
				<div class="decoration decoration-margins"></div>
                     <a href="mailto:info@desifarmsindia.com">     
	                    <div class="heading-strip bg-1 contact"> <a href="mailto:info@desifarmsindia.com"><i class="ion-email"></i>
						<h4>Email Us</h4>
						<p><a href="mailto:info@desifarmsindia.com">info@desifarmsindia.com</a></p></a>
						
						<div class="overlay dark-overlay"></div>
					  </div>
					</a>