<div class="content">
	
  	  <div class="row box-arrangeboard box-shadow"> 
	 	<div class="col-sm-12 col-xs-12 ">
	    	 <video width="400" height="240" controls>
				  <source src="images/dashboardicon/Learn How To Find Colors And Mixing Makes Different colors _ Interactive Color Wheel For Kids - YouTube (360p).mp4" type="video/mp4">
				  
				  Your browser does not support HTML5 video.
				</video>
	 	 </div>             
  	  </div>
  </div>  