<style>
/*
.footer-logo
{
    bottom: 0px !important; ;        
    position: fixed !important;  
}

#page-content
{
    height: -webkit-fill-available !important;
}*/
</style>
<div class="decoration decoration-margins"></div>

<form ng-submit="Login(loginForm.$valid)"  novalidate="" name="loginForm" autocomplete="off" role="form">
    <div class="pageapp-login-box login-background-box login-effect6 box-thank-shadow">
     
           <div class="row">
           <div class="col-sm-12 col-xs-12">
             <input type="text" class="login-input-new" placeholder="User ID" name="uid" ng-model="userObj.uid" required   oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
           </div>
           <div class="col-sm-12 col-xs-12">
             <input type="password" class="login-input-new" placeholder="password" onfocus="if (this.value=='password') this.value = ''" onblur="if (this.value=='') this.value = 'password'">
           </div>
            <div class="col-sm-12 col-xs-12 btn-loginn-position">
          <button type="submit" class="button button-purpul btn-xs login-btn" >LOG IN</button> 
                <!-- <a  class="page-login-forgot"><i class="ion-ios-eye"></i>Forgot Password</a> -->
           <!--  <a href="#!/registration" class="page-login-create create-color"><i class="ion-person"></i> &nbsp;Create Account</a>-->
            <div class="clear"></div>
        </div>
           </div>     
       </div>                
        <!--<div class="pageapp-login-input">
                <i class="login-icon ion-locked"></i>
                <input type="password" placeholder="password" onfocus="if (this.value=='password') this.value = ''" onblur="if (this.value=='') this.value = 'password'">
        </div>-->

        <!-- <button type="submit" class="button button-green button-icon login-btn" >Create Account</button>  --> 
        
    </div>
</form>
