<div class="content">

  <div class="row box-events">
    <div class="row upcoming-event"><img data-original="" alt="img" class="preload-image" src="images/dashboardicon/event_calender_icon.png"> <label>Upcoming Events</label></div>
    <div class="row">
      <div class="col-sm-4 col-xs-4 event">
        <a class="" href="#!/">
            <img data-original="" alt="img" class="preload-image" src="images/prf.jpg">            
          </a>
       </div>  
        <div class="col-sm-4 col-xs-4 event">
        <a class="" href="#!/">
            <img data-original="" alt="img" class="preload-image" src="images/prf.jpg">
           </a>
       </div>    
        <div class="col-sm-4 col-xs-4 event">
        <a class="" href="#!/">
            <img data-original="" alt="img" class="preload-image" src="images/prf.jpg">
        </a>
       </div>      
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-4 event">
        <a class="" href="#!/">
            <img data-original="" alt="img" class="preload-image" src="images/prf.jpg">            
          </a>
       </div>  
        <div class="col-sm-4 col-xs-4 event">
        <a class="" href="#!/">
            <img data-original="" alt="img" class="preload-image" src="images/prf.jpg">
           </a>
       </div>    
        <div class="col-sm-4 col-xs-4 event">
        <a class="" href="#!/">
            <img data-original="" alt="img" class="preload-image" src="images/prf.jpg">
        </a>
       </div>      
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-4 event">
        <a class="" href="#!/">
            <img data-original="" alt="img" class="preload-image" src="images/prf.jpg">            
          </a>
       </div>  
        <div class="col-sm-4 col-xs-4 event">
        <a class="" href="#!/">
            <img data-original="" alt="img" class="preload-image" src="images/prf.jpg">
           </a>
       </div>    
        <div class="col-sm-4 col-xs-4 event">
        <a class="" href="#!/">
            <img data-original="" alt="img" class="preload-image" src="images/prf.jpg">
        </a>
       </div>      
    </div>
    
  </div>   
    
</div>