
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<div class="content">

  <div class="row box-child box-shadow">
    
     
      <div class="col-sm-12 col-xs-12 child_pro fill-child-details">
        <div class="col-xs-3 col-sm-3 child_fields">
          <div class="form-group"> 
              <label for="name" class="childcor">Name</label>
          </div>
          <div class="form-group">
            <label for="dob" class="childcor">DOB</label>
          </div>
            <div class="form-group">
            <label class="childcor">Gender</label>
              </div>
        </div>
       <div class="col-xs-9 col-sm-9">
           <div class="form-group">
               <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
           </div>
           <div class="form-group">
            <input type="number" class="form-control day-child-input" id="dob" placeholder="Day" name="">
             <input type="number" class="form-control month-child-input" id="dob" placeholder="Month" name="">
              <input type="number" class="form-control year-child-input" id="dob" placeholder="Year" name="">
            </div>
           <div class="form-group">
             <label class="col-xs-5 col-sm-5 childcor">Boy<input type="radio" name="gen" id="boy_id" class="genchild"></label> 
             <label class="col-xs-5 col-sm-5 childcor">Girl<input type="radio" name="gen" id="girl_id" class="genchild"> </label>
            </div>
      </div>
     <div class="col-sm-12 col-xs-12 line-child-detail">

          <a type="submit" href="#!/welcome" class="button button-purpul btn-xs child-submit-btn">SUBMIT</a> 
          <a type="submit" href="#!/" class="button btn-xs child-photo"><i class="ion-ios-plus-outline"></i><label>Child Photo</label></a> 

      </div>
      <div class="col-sm-12 col-xs-12">
          <a type="submit" href="#!/welcome" class="button btn-xs child2"><i class="ion-ios-plus-outline"></i><label>Child 2</label></a> 
      </div>


    </div>


    <div class="col-sm-12 col-xs-12 child_pro fill-child-details">
        <div class="col-xs-3 col-sm-3 child_fields">
          <div class="form-group"> 
              <label for="name" class="childcor">Name</label>
          </div>
          <div class="form-group">
            <label for="dob" class="childcor">DOB</label>
          </div>
            <div class="form-group">
            <label class="childcor">Gender</label>
              </div>
        </div>
       <div class="col-xs-9 col-sm-9">
           <div class="form-group">
               <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
           </div>
           <div class="form-group">
            <input type="number" class="form-control day-child-input" id="dob" placeholder="Day" name="">
             <input type="number" class="form-control month-child-input" id="dob" placeholder="Month" name="">
              <input type="number" class="form-control year-child-input" id="dob" placeholder="Year" name="">
            </div>
           <div class="form-group">
             <label class="col-xs-5 col-sm-5 childcor">Boy<input type="radio" name="gen" id="boy_id" class="genchild"></label> 
             <label class="col-xs-5 col-sm-5 childcor">Girl<input type="radio" name="gen" id="girl_id" class="genchild"> </label>
            </div>
      </div>
     <div class="col-sm-12 col-xs-12 line-child-detail">

          <a type="submit" href="#!/welcome" class="button button-purpul btn-xs child-submit-btn">SUBMIT</a> 
          <a type="submit" href="#!/" class="button btn-xs child-photo"><i class="ion-ios-plus-outline"></i><label>Child Photo</label></a> 

      </div>
          

    </div>
  </div>   
</div>


