
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<div class="content">

  <div class="row box-game-main">
   
    <div class="row">
    	<div class="col-sm-6 col-xs-6 game-dashboard-icon-set">
     		<a class="" href="#!/">
		        <img data-original="" alt="img" class="preload-image" src="images/dashboardicon/sudoku_icon.png"><label class="game-lbl">Sudoku</label>
		      </a>
  		</div>
  		<div class="col-sm-6 col-xs-6 game-dashboard-icon-set green-yellow">
     		<a class="" href="#!/">
		        <img class="dashboard-icon-info-img" data-original="" alt="img" class="preload-image" src="images/dashboardicon/puzzle_icn.png"><label class="puzzle-lbl">Puzzle</label>
		      </a>
  		</div>
  		<div class="col-sm-6 col-xs-6 game-dashboard-icon-set cornflowerblue">
     		<a class="" href="#!/">
		        <img data-original="" alt="img" class="preload-image" src="images/dashboardicon/strategy_icn.png"><label class="game-lbl">Strategy</label>
		      </a>
  		</div>
  		<div class="col-sm-6 col-xs-6 game-dashboard-icon-set brain">
     		<a class="" href="#!/">
		        <img data-original="" alt="img" class="preload-image" src="images/dashboardicon/brain_teaser_icon.png"><label class="brain-label">Brain Teasers</label>
		      </a>
  		</div>    	 
    </div>
  </div>   
</div>


