<div class="content">
    <div class="row box-grow-chart">
    	<div class="col-sm-12 col-xs-12">    		
		    <!--<img data-original="" alt="img" class="preload-image grow-chart-img" src="images/dashboardicon/child_growth_chart.png">-->
		     
		     <div>
   		</div>   
    </div>  
</div>