
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<div class="content">

  <div class="row box-main box-shadow">    
     <div class="col-sm-12 col-xs-12 profile-position">
    	 <div class="dashboard-outer"><img src="images/prf.png" class="dashboard-image-circle"></div>
    </div>
    <div class="col-sm-12 col-xs-12 profile-position hidden">  
        <a href="#!/profile_edit"><i class="ion-compose active pencil-main-dashboard"></i></a>
    </div>
    <div class="col-sm-12 col-xs-12 profile-position ">
        <label class="name-main-dahboard">Ram</label>
    </div>
    <div class="row">
    	<div class="col-sm-6 col-xs-6 dashboard-icon-child">
     		<a class="" href="#!/child_domain">
		        <img data-original="" alt="img" class="preload-image" src="images/dashboardicon/domain_icon.png"><label class="domain-lbl2">Domain</label>
		      </a>
  		</div>
  		<div class="col-sm-6 col-xs-6 dashboard-icon-child light-skyblue">
     		<a class="" href="#!/child_list">
		        <img class="dashboard-icon-info-img" data-original="" alt="img" class="preload-image" src="images/dashboardicon/profile_icon.png"><label class="profile-icon">Profile</label>
		      </a>
  		</div>
  		<div class="col-sm-6 col-xs-6 dashboard-icon-child brain">
     		<a class="" href="#!/child_list2">
		        <img data-original="" alt="img" class="preload-image" src="images/dashboardicon/rewards_icon.png"><label class="reward-icon">Reward</label>
		      </a>
  		</div>
  		<div class="col-sm-6 col-xs-6 dashboard-icon-child rhyme-bck-icon">
     		<a class="" href="#!/rhymes_stories">
		        <img data-original="" alt="img" class="preload-image" src="images/dashboardicon/rhymes_n_stories_icon.png"><label class="rhyme-lbl">Rhymes & Stories</label>
		      </a>
  		</div>    	 
    </div>
  </div>   
</div>


