
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<div class="content">

  <div class="row box-game-main">
   
    <div class="row">
    	<div class="col-sm-6 col-xs-6 game-dashboard-icon-set cornflowerblue">
     		<a class="" href="#!/">
		        <img data-original="" alt="img" class="preload-image" src="images/dashboardicon/pictures_icon.png"><label class="photo-label">Photos</label>
		      </a>
  		</div>
  		<div class="col-sm-6 col-xs-6 game-dashboard-icon-set light-orange">
     		<a class="" href="#!/">
		        <img class="dashboard-icon-info-img" data-original="" alt="img" class="preload-image" src="images/dashboardicon/videos_icon.png"><label class="video-lbl">Viedos</label>
		      </a>
  		</div>
  		<div class="col-sm-6 col-xs-6 game-dashboard-icon-set light-brown">
     		<a class="" href="#!/">
		        <img data-original="" alt="img" class="preload-image" src="images/dashboardicon/documents_icon.png"><label class="doc-lbl">Documents</label>
		      </a>
  		</div>
  		   	 
    </div>
    <div class="col-sm-12 col-xs-12">
          <button type="submit" class="button button-purpul btn-xs upload-btn" >UPLOAD</button> 
                
        </div>
  </div>  

</div>


