
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<div class="content">
    <div class="row box-main">
        <div class="col-sm-12 col-xs-12 mytask">
            <div class="col-sm-8 col-xs-8">
                <div class="form-group">
                    <label class="taskone">Task 1</label>
                </div>
                <div class="form-group">
                    <label class="taskone">Task 2</label>
                </div>
                <div class="form-group">
                    <label class="taskone">Task 3</label>
                </div>
                <div class="form-group">
                    <label class="taskone">Task 4</label>
                </div>
                <div class="form-group">
                    <label class="taskone">Task 5</label>
                </div>
                <div class="form-group">
                    <label class="taskone">Task 6</label>
                </div>
            </div>
            <div class="col-sm-3 col-xs-3">
            <div class="form-group">
            <input type="checkbox" name="task" id="" class="task">
            </div>
            <div class="form-group">
            <input type="checkbox" name="task" id="" class="task">
            </div>
            <div class="form-group">
            <input type="checkbox" name="task" id="" class="task">
            </div>
            <div class="form-group">
            <input type="checkbox" name="task" id="" class="task">
            </div>
            <div class="form-group">
            <input type="checkbox" name="task" id="" class="task">
            </div>
            <div class="form-group">
            <input type="checkbox" name="task" id="" class="task">
            </div>

            </div>
        </div>   
    </div>
</div>


