
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<div class="content">

  <div class="row box-profile-main">
    
     <div class="col-sm-12 col-xs-12 profile-position">
    	 <div class="dashboard-outer"><img src="images/prf.png" class="dashboard-image-circle"></div>
    </div>
    <div class="row">
      <div class="line-newletter">
      <label class="profile-label">Account Details</label>
    </div>
      <div class="profile-info">
            <i class="ion-ios-telephone profile_icon"></i>
            <input class="profile-mobile" type="tel" placeholder="Mobile No" ng-minlength="10" ng-maxlength="10" maxlength="10" name="mobile_no" ng-model="userObj.mobile_no" required ng-pattern="/^[2-9]\d{9}$/" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
      </div>
      <div class="profile-info">
            <i class="ion-record profile_icon"></i>
            <label class="account-purple-lbl">Set New Password</label>
      </div>
      

    </div>
    <div class="row">
      <div class="line-newletter">
      <label class="profile-label">Profile Details</label>
    </div>
      <div class="profile-info">
            <i class="ion-android-contact profile_icon"></i>
            <input class="prof-input" type="text" placeholder="Name" name="name" ng-model="userObj.name" required   oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
      </div>
      <div class="profile-info">
            <i class="ion-android-mail profile_icon"></i>
            <input class="prof-input" type="email" placeholder="Email Address" name="email_id" ng-model="userObj.email_id" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required >
      </div>
    </div>
  </div> 
    <div class="col-sm-12 col-xs-12">
         <a type="submit" href="#!/home" class="button button-purpul btn-xs child-profile-continue-btn">BACK</a>         
    </div>   
</div>


