<div class="content">

  <div class="row box-parent-registration box-shadow">
    
     
    <div class="row parent-detail">
     <div class="col-xs-12 col-sm-12"> 
     <input class="input-parent-detail" type="text" placeholder="First Name" name="first_name" ng-model="userObj.first_name" required   oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
      </div>
        <span ng-show="signupForm.first_name.$error.required && submitted" class="help-block validation-error">First Name is required</span>
    
        <div class="col-xs-12 col-sm-12">
             <!--<i class="login-icon ion-person"></i>-->
            <input class="input-parent-detail" type="text" placeholder="Last name" name="last_name" ng-model="userObj.last_name" replace="[^a-zA-Z]" with="" required oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
        </div>                   
         <span ng-show="signupForm.last_name.$error.required && submitted" class="help-block validation-error">Last name is required</span>

        <div class="col-xs-12 col-sm-12">
             <!--<i class="login-icon ion-at"></i>-->
          <input class="input-parent-detail" type="email" placeholder="Email Address" name="email_id" ng-model="userObj.email_id" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required >
        </div>                     
        <span ng-show="signupForm.email_id.$error.required && submitted" class="help-block">Email Address is required</span>
        <span ng-show="signupForm.email_id.$error.pattern && submitted" class="help-block">Please enter a valid Email Address!</span>

    
        <div class="col-xs-12 col-sm-12">
             <!--<i class="login-icon ion-iphone "></i>-->
            <input class="input-parent-detail" type="tel" placeholder="Mobile Number Primary" ng-minlength="10" ng-maxlength="10" maxlength="10" name="mobile_no" ng-model="userObj.mobile_no" required ng-pattern="/^[2-9]\d{9}$/" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
        </div>                     
        <span ng-show="signupForm.mobile_no.$error.required && submitted" class="help-block">Primary Mobile Number is required</span>
        <span ng-show="signupForm.mobile_no.$error.pattern && submitted" class="help-block">Enter valid mobile number.</span>


        <div class="col-xs-12 col-sm-12">
             <!--<i class="login-icon ion-iphone "></i>-->
            <input class="input-parent-detail" type="tel" placeholder="Mobile Number Secondary" ng-minlength="10" ng-maxlength="10" maxlength="10" name="mobile_no" ng-model="userObj.mobile_no" required ng-pattern="/^[2-9]\d{9}$/" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
        </div>                     
        <span ng-show="signupForm.mobile_no.$error.required && submitted" class="help-block">Secondary Mobile Number is required</span>
        <span ng-show="signupForm.mobile_no.$error.pattern && submitted" class="help-block">Enter valid mobile number.</span>


        <div class="col-xs-12 col-sm-12">
        <select class=" dropdown-item input-parent-detail ddl-parent-detail" name="city_id"  required>
                <option class="select-title" value="">-- Select City --</option>
                <option>Mumbai</option>
                <option>Pune</option>
                <option>Jalgaon</option>
            </select>
        </div>  
        <span ng-show="signupForm.city_id.$error.required && submitted" class="help-block">City is required</span>

        <div class="col-xs-12 col-sm-12"> 
           <input class="input-parent-detail" type="number" placeholder="Zip Code" name="zip_code" ng-model="userObj.zip_code" required   oninput="this.value = this.value.replace(/[^0-9 ]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
        </div>

       <div class="col-xs-12 col-sm-12">
             <!--<i class="login-icon ion-at"></i>-->
            <input class="input-parent-detail" type="password" placeholder="Password" name="password" ng-model="userObj.password" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required >
        </div> 
        <div class="col-xs-12 col-sm-12">
             <!--<i class="login-icon ion-at"></i>-->
            <input class="input-parent-detail" type="password" placeholder="Repeat Password" name="rep_password" ng-model="userObj.rep_password" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required >
        </div> 

        
      
    </div>
   
  </div>   
  <div class="col-sm-12 col-xs-12">
          <a type="submit" href="#!/login" class="button button-purpul btn-xs parent-cancel-btn">CANCEL</a> 

          <a type="submit" href="#!/congratulation" class="button button-purpul btn-xs parent-registration-btn" >REGISTER</a> 
     </div>
</div>

