<div class="content">
  <div class="row box-main box-shadow">
    <div class="row">
     <div class="col-sm-12 col-xs-12 star-row-set">
          <a type="submit" href="#!/" class="star-btn"><img data-original="" alt="img" class="preload-image star" src="images/dashboardicon/star_icon.png"></a>
           
          
          <a type="submit" href="#!/" class="star-btn"><img data-original="" alt="img" class="preload-image star" src="images/dashboardicon/star_icon.png"></a>
           
          
          <a type="submit" href="#!/" class="star-btn"><img data-original="" alt="img" class="preload-image star" src="images/dashboardicon/star_shadow_icon.png"></a>
           
        
          <a type="submit" href="#!/" class="star-btn"><img data-original="" alt="img" class="preload-image star" src="images/dashboardicon/star_shadow_icon.png"></a>
           
        
          <a type="submit" href="#!/" class="star-btn"><img data-original="" alt="img" class="preload-image star" src="images/dashboardicon/star_shadow_icon.png"></a>
           
         
          <a type="submit" href="#!/arrange_board" class="star-btn"><i class="ion-ios-refresh redirect-icon"></i></a>
           
      </div>
      <div class="col-sm-12 col-xs-12 line-activity">
        <label class="label-activity">Activity 01</label>
      </div>
    </div> 
    <div class="row">
           <div class="col-sm-12 col-xs-12 star-row-set2">
                <a type="submit" href="#!/" class="star-btn"><img data-original="" alt="img" class="preload-image star" src="images/dashboardicon/star_icon.png"></a>
                 
                
                <a type="submit" href="#!/" class="star-btn"><img data-original="" alt="img" class="preload-image star" src="images/dashboardicon/star_icon.png"></a>
                 
                
                <a type="submit" href="#!/" class="star-btn"><img data-original="" alt="img" class="preload-image star" src="images/dashboardicon/star_icon.png"></a>
                 
              
                <a type="submit" href="#!/" class="star-btn"><img data-original="" alt="img" class="preload-image star" src="images/dashboardicon/star_shadow_icon.png"></a>
                 
              
                <a type="submit" href="#!/" class="star-btn"><img data-original="" alt="img" class="preload-image star" src="images/dashboardicon/star_shadow_icon.png"></a>
                 
               
                <a type="submit" href="#!/arrange_board" class="star-btn"><i class="ion-ios-refresh redirect-icon"></i></a>
                 
            </div>
            <div class="col-sm-12 col-xs-12 line-activity">
              <label class="label-activity">Activity 01</label>
            </div>
    </div>  
    <div class="row">
           <div class="col-sm-12 col-xs-12 star-row-set2">
                <a type="submit" href="#!/" class="star-btn"><img data-original="" alt="img" class="preload-image star" src="images/dashboardicon/star_icon.png"></a>
                 
                
                <a type="submit" href="#!/" class="star-btn"><img data-original="" alt="img" class="preload-image star" src="images/dashboardicon/star_icon.png"></a>
                 
                
                <a type="submit" href="#!/" class="star-btn"><img data-original="" alt="img" class="preload-image star" src="images/dashboardicon/star_icon.png"></a>
                 
              
                <a type="submit" href="#!/" class="star-btn"><img data-original="" alt="img" class="preload-image star" src="images/dashboardicon/star_icon.png"></a>
                 
              
                <a type="submit" href="#!/" class="star-btn"><img data-original="" alt="img" class="preload-image star" src="images/dashboardicon/star_icon.png"></a>
                 
               
                <a type="submit" href="#!/arrange_board" class="star-btn"><i class="ion-ios-refresh redirect-icon"></i></a>
                 
            </div>
            <div class="col-sm-12 col-xs-12 line-activity">
              <label class="label-activity">Activity 01</label>
            </div>
    </div> 
    <div class="row">
           <div class="col-sm-12 col-xs-12 star-row-set2">
                <a type="submit" href="#!/" class="star-btn"><img data-original="" alt="img" class="preload-image star" src="images/dashboardicon/star_icon.png"></a>
                 
                
                <a type="submit" href="#!/" class="star-btn"><img data-original="" alt="img" class="preload-image star" src="images/dashboardicon/star_shadow_icon.png"></a>
                 
                
                <a type="submit" href="#!/" class="star-btn"><img data-original="" alt="img" class="preload-image star" src="images/dashboardicon/star_shadow_icon.png"></a>
                 
              
                <a type="submit" href="#!/" class="star-btn"><img data-original="" alt="img" class="preload-image star" src="images/dashboardicon/star_shadow_icon.png"></a>
                 
              
                <a type="submit" href="#!/" class="star-btn"><img data-original="" alt="img" class="preload-image star" src="images/dashboardicon/star_shadow_icon.png"></a>
                 
               
                <a type="submit" href="#!/arrange_board" class="star-btn"><i class="ion-ios-refresh redirect-icon"></i></a>
                 
            </div>
            <div class="col-sm-12 col-xs-12 line-activity">
              <label class="label-activity">Activity 01</label>
            </div>
    </div>   
  </div>   
</div>
