<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<div class="content">

  <div class="row box-child-activity box-shadow">
    <div class="row line-rhymes">
    <div class="row rhymes-page">
      <div class="col-sm-3 col-xs-3">
        <a class="" href="#!/arrange_board">
           <img src="images/dashboardicon/rhymes_n_stories_icon_black.png" class="rhymes-img">
          </a>
       </div>
       <div class="col-sm-3 col-xs-3">
        <a class="" href="#!/demo_video">
           <img src="images/dashboardicon/rhymes_n_stories_icon_black.png" class="rhymes-img">
          </a>
       </div>
        <div class="col-sm-3 col-xs-3">
        <a class="" href="#!/arrange_board">
           <img src="images/dashboardicon/rhymes_n_stories_icon_black.png" class="rhymes-img">
          </a>
       </div>
       <div class="col-sm-3 col-xs-3">
        <a class="" href="#!/demo_video">
           <img src="images/dashboardicon/rhymes_n_stories_icon_black.png" class="rhymes-img">
       </div>
    </div>

    <div class="row rhymes-page">
      <div class="col-sm-3 col-xs-3">
        <a class="" href="#!/arrange_board">
           <img src="images/dashboardicon/rhymes_n_stories_icon_black.png" class="rhymes-img">
          </a>
       </div>
       <div class="col-sm-3 col-xs-3">
        <a class="" href="#!/demo_video">
           <img src="images/dashboardicon/rhymes_n_stories_icon_black.png" class="rhymes-img">
          </a>
       </div>
        <div class="col-sm-3 col-xs-3">
        <a class="" href="#!/arrange_board">
           <img src="images/dashboardicon/rhymes_n_stories_icon_black.png" class="rhymes-img">
          </a>
       </div>
       <div class="col-sm-3 col-xs-3">
        <a class="" href="#!/demo_video">
           <img src="images/dashboardicon/rhymes_n_stories_icon_black.png" class="rhymes-img">
       </div>
    </div>

    <div class="row rhymes-page">
      <div class="col-sm-3 col-xs-3">
        <a class="" href="#!/arrange_board">
           <img src="images/dashboardicon/rhymes_n_stories_icon_black.png" class="rhymes-img">
          </a>
       </div>
       <div class="col-sm-3 col-xs-3">
        <a class="" href="#!/demo_video">
           <img src="images/dashboardicon/rhymes_n_stories_icon_black.png" class="rhymes-img">
          </a>
       </div>
        <div class="col-sm-3 col-xs-3">
        <a class="" href="#!/arrange_board">
           <img src="images/dashboardicon/rhymes_n_stories_icon_black.png" class="rhymes-img">
          </a>
       </div>
       <div class="col-sm-3 col-xs-3">
        <a class="" href="#!/demo_video">
           <img src="images/dashboardicon/rhymes_n_stories_icon_black.png" class="rhymes-img">
       </div>
    </div>
    </div> 
    
  <div class="row">
          <div class="row video-page">
            <div class="col-sm-4 col-xs-4">
              <a class="" href="#!/arrange_board">
                 <img src="images/dashboardicon/video_icon_2.png" class="rhymes-video-img">
                </a>
             </div>
             <div class="col-sm-4 col-xs-4">
              <a class="" href="#!/demo_video">
                 <img src="images/dashboardicon/video_icon_2.png" class="rhymes-video-img">
                </a>
             </div>
              <div class="col-sm-4 col-xs-4">
              <a class="" href="#!/arrange_board">
                 <img src="images/dashboardicon/video_icon_2.png" class="rhymes-video-img">
                </a>
             </div>
          </div>

          <div class="row video-page">
            <div class="col-sm-4 col-xs-4">
              <a class="" href="#!/arrange_board">
                 <img src="images/dashboardicon/video_icon_2.png" class="rhymes-video-img">
                </a>
             </div>
             <div class="col-sm-4 col-xs-4">
              <a class="" href="#!/demo_video">
                 <img src="images/dashboardicon/video_icon_2.png" class="rhymes-video-img">
                </a>
             </div>
              <div class="col-sm-4 col-xs-4">
              <a class="" href="#!/arrange_board">
                 <img src="images/dashboardicon/video_icon_2.png" class="rhymes-video-img">
                </a>
             </div>
          </div>

          <div class="row video-page">
            <div class="col-sm-4 col-xs-4">
              <a class="" href="#!/arrange_board">
                 <img src="images/dashboardicon/video_icon_2.png" class="rhymes-video-img">
                </a>
             </div>
             <div class="col-sm-4 col-xs-4">
              <a class="" href="#!/demo_video">
                 <img src="images/dashboardicon/video_icon_2.png" class="rhymes-video-img">
                </a>
             </div>
              <div class="col-sm-4 col-xs-4">
              <a class="" href="#!/arrange_board">
                 <img src="images/dashboardicon/video_icon_2.png" class="rhymes-video-img">
                </a>
             </div>
          </div>
  </div> 
  </div>   
     
</div>