<div class="content">
  <div class="box-newsletter">
    <div class="row">
      <div class="line-newletter">
      <label class="newletter-label">Newsletter</label>
    </div>
      
     <input class="newletter-input" type="text" placeholder="First Name" name="first_name" required   oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
     <span ng-show="signupForm.first_name.$error.required && submitted" class="help-block validation-error">First Name is required</span>
     <input class="newletter-input" type="text" placeholder="Last name" name="last_name" replace="[^a-zA-Z]" with="" required oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
       <input class="newletter-input" type="email" placeholder="Email Address" name="email_id" ng-model="userObj.email_id" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required >

    </div>
     <div class="col-sm-12 col-xs-12">
          <button type="submit" class="button button-purpul btn-xs subscribe-btn" >SUBSCRIBE</button> 
                
        </div>
  </div>     
</div>

