
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<div class="content">

  <div class="row box-vaccine-chart"> 
     <div class="col-sm-12 col-xs-12">
        <img data-original="" alt="img" class="preload-image vaccine-chart-img" src="images/dashboardicon/vaccination_chart.png">
    		</div>    		  	 
      </div>
  </div>   



