  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#F9F2E7;border-collapse: collapse;">
      <tr>
        <td style="font-family: arial, sans-serif;">
          <table border="0" cellpadding="0" cellspacing="0" align="center" width="680" bgcolor="#FFFFFF">
            <tr>
              <td bgcolor="#0067a1" style="font-size: 0; line-height: 0; padding: 0 10px;font-family: arial, sans-serif;"  class="responsive-image">
				<table style="border-collapse: collapse;">
					<tr>
						<td align="left">
						<img src="desi-logo.png" alt="" height="140" class="image-circle" style="border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 4px solid #FFF;
    margin: 10px;">
						</td>
					
						<td>
							<table  border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="border-collapse: collapse;">
								<tr>
									<td style="width:50px;padding-left:210px;padding-bottom:10px;">
									    <label style="font-size:14px;color: #fff;">9260605353</label>
									</td>
								</tr>
								<tr>
									<td  style="width:50px;padding-left:210px;padding-bottom:10px;">
									    <label style="font-size:14px;color: #fff;">info@desifarmsindia.com</label>
									</td>
								</tr>
								<tr>
									<td style="width:50px;padding-left:210px;padding-bottom:10px;">
									    <label style="font-size:14px;color: #fff;">desifarmsindia.com</label>
									</td>
								</tr>
							</table>
						</td>
					
						<td>
						<table border="0" cellpadding="0" cellspacing="0" width="100%"  style="font-family: arial, sans-serif; color:#fff; font-size:15px;">
							<tr>
								<td style="width:350px;padding-bottom:7px;">
									<label style="font-size:14px;color: #fff;float:right;">F-25 First Floor,Phoenix mall,</label>
								</td>
							</tr>
							<tr>
								<td style="width:350px;padding-bottom:7px;">
									<label style="font-size:14px;color: #fff;float:right;">East Court,Clover Park,</label>
								</td>
							</tr>
							<tr>
								<td style="width:350px;padding-bottom:7px;">
									<label style="font-size:14px;color: #fff;float:right;">Viman Nagar,Pune-411014.</label>
								</td>
							</tr>
						</table>
						</td>
					</tr>
					
				</table>
              </td>
            </tr>
            <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>
            <tr width="200px">
              <td style="padding:20px;">
              <!--   <div style="font-size: 20px;">Order ID:00111</div> -->
				    <table align="left" border="0" cellpadding="0" cellspacing="0" width="300px"  style="margin-left:7px;border-collapse: collapse;">
						<tr>
							<td>
								<table border="0" cellpadding="0" cellspacing="0" width="150px" style="border-collapse: collapse;">
									<tr style="text-align: left;">
										<th style="color:gray;">Bill To</th>
									</tr>
									<tr style="width:350px;padding-bottom:15px;">
										<td >Hema Shrawane.</td>
									</tr>
									<tr style="width:350px;padding-bottom:15px;">
										<td>Kundan Society,</td>
									</tr>
									<tr>
										<td>No-7,ABC chowk,</td>
									</tr>
									<tr style="width:350px;padding-bottom:15px;">
										<td>Pune-43345656.</td>
									</tr>
									<tr style="width:350px;padding-bottom:15px;">
										<td>Mobile:9966145824</td>
									</tr>
								</table>
							</td>
							<td>
								<table border="0" cellpadding="0" cellspacing="0" width="150px" style="border-collapse: collapse;">
									<tr>
										<th style="text-align:center;color:gray;">Customer ID</th>
									</tr>
									<tr>
										<td style="text-align:center;padding-bottom:10px;">0014111</td>
									</tr>
									<tr style="text-align: left;">
										<th style="text-align:center;color:gray;">Date of Issue</th>
									</tr>
									<tr>
										<td style="text-align:center">14/06/2017</td>
									</tr>
								</table>
							</td>
							<td>
								<table border="0" cellpadding="0" cellspacing="0" width="322px">
									<tr>
										<th style="text-align:right;color:gray;padding-right:10px;">Invoice No</th>
									</tr>
									<tr>
										<th style="text-align:right;padding-right:10px;padding-bottom:10px;">0010</th>
									</tr>
									<tr>
										<th style="text-align:right;color:gray;padding-right:10px;">Total Order</th>
									</tr>
									<tr>
										<td style="text-align:right	;padding-bottom:10px; padding-right:10px;font-size:24px; color:blue;">Rs.14111.00</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>               
              </td>
			 
            </tr>
            <!--<tr><td style="font-size: 0; line-height: 0;" height="2" bgcolor="blue">&nbsp;</td></tr>-->
            
			 <tr>
              <td>
                <table border="1" cellpadding="0" cellspacing="0" align="left" width="92%"style="margin-left:26px;border-collapse: collapse;font-family: arial, sans-serif;">
					 <tr style="font-family: arial, sans-serif;margin-left:0px;">
						<th style="padding: 10px 10px 10px 10px;float:left;width:170px;color:blue;"><label>Description</label></th>
						<th style="padding: 10px 10px 10px 10px;float:left;width:80px;color:blue;"><label>Quantity</label></th>
						<th style="padding: 10px 10px 10px 10px;float:left;width:120px;color:blue;"><label>Unit</label></th>
						<th style="padding: 10px 10px 10px 10px;float:left;width:165px;color:blue;"><label>Amount</label></th>
				
					 </tr>

                  <tr style="font-family: arial, sans-serif;">
					<td style="padding: 10px 12px 10px 12px;float:left;width:167px;" class="responsive-image">
						<!-- <img src="dahi1.jpg" width="70" alt=""/>-->
						 <div style="text-align:center;color:blue;"><label>Mango Lassi</label></div>
					</td>
					<td style="padding: 10px 10px 10px 10px;float:left; width:80px;text-align: center;"><label>1</label></td>
					<td style="padding: 10px 10px 10px 10px;float:left;width:119px;text-align: center;"><label>200ml</label></td>
					<td style="padding: 10px 10px 10px 10px;float:left;width:165px;text-align: center;"><label>30.00</label></td>
					
				  </tr>
				   <tr>
					<td style="padding: 10px 12px 10px 12px;float:left;width:167px;" class="responsive-image">
						 <!--<img src="dahi1.jpg" width="70" alt=""/>-->
						 <div style="text-align:center;color:blue;"><label>Malai Dahi</label></div>
					</td>
					<td style="padding: 10px 10px 10px 10px;float:left; width:80px;text-align: center;"><label>2</label></td>
					<td style="padding: 10px 10px 10px 10px;float:left;width:119px;text-align: center;"><label>400Gm</label></td>
					<td style="padding: 10px 10px 10px 10px;float:left;width:165px;text-align: center;"><label>100.00</label></td>
				  
				  </tr>
				   <tr>
					<td style="padding: 10px 12px 10px 12px;float:left;width:167px;" class="responsive-image">
						 <!--<img src="dahi1.jpg" width="70" alt=""/>-->
						 <div style="text-align:center;color:blue;"><label>Malai Dahi</label></div>
					</td>
					<td style="padding: 10px 10px 10px 10px;float:left; width:80px;text-align: center;"><label>1</label></td>
					<td style="padding: 10px 10px 10px 10px;float:left;width:119px;text-align: center;"><label>400gm</label></td>
					<td style="padding: 10px 10px 10px 10px;float:left;width:165px;text-align: center;"><label>50.00</label></td>
				  
				  </tr>
				  <tr>
					<td style="padding: 10px 10px 10px 10px;float:left;width:415px;text-align: left;color:blue;"><label>Total</label></td>
					<td style="padding: 10px 10px 10px 10px;float:left;width:165px;text-align: center;"><label>180.00</label></td>
				  </tr>
				  <tr>
					<td style="padding: 10px 10px 10px 10px;float:left;width:602.5px;text-align: left;color:blue;"><label>Thank you for placing order...!</label></td>
				  </tr>
				</table>
			   </td>
			</tr>
            <tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
            <tr>
              <td  style="background-image:url(footer-bg.png);height:100px; border-collapse: collapse;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
                  <tr>
                    <td style="padding: 0 10px;">
                       <!--  <img src="footer-bg.png" width="100" alt="" /> -->
                    </td>
                  </tr>
                  <tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  